---
title: Olex2
linkTitle: Olex2
type: static-o
menu:
  main:
    weight: 10

---

{{< blocks/cover title="Olex2: Crystallography at your fingertip!" image_anchor="top" height="min" color="dark" font_color="light">}}


<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mb-4" href="{{< relref "/olex2/docs/getting-started/installing-olex2">}}">
		Download 
	</a>
	{{< blocks/link-down color="info" >}}
</div>

  <div class="mt-1 blur">
    <span class="blur">Small-molecule crystallography as good as it gets!</span>
  </div>

{{< /blocks/cover >}}

{{% blocks/lead %}}
Olex2 is an easy-to-use program containing everything you need to solve, refine and finish small-molecule crystal structures using an intuitive user interface, honed over ten years of development.
{{% /blocks/lead %}}


{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="crystallographer.png" title="For Crystallographers" url="/olex2" font_color="dark" read_more="false" %}}
Constantly updated and keeping in touch with evolution of the crystallographic toolbox, Olex2, provides both maximum functionality and a clean, intuitive GUI to work with.
{{% /blocks/feature %}}

{{% blocks/feature icon="chemists.png" title="For Chemists" url="/olex2" font_color="dark" read_more="false" %}}
From structure solution and refinement to the creation of images and even animations out-of-the-box - Olex2 has it all!
{{% /blocks/feature %}}

{{% blocks/feature icon="student.png" title="For Students" url="/olex2" font_color="dark" read_more="false" %}}
Discover the wonderful world of the chemistry at a molecular level. Visualise molecules, and start learning how to obtain molecular structures using Olex2!
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section color="primary">}}

<div class="col-12 light">

<h2 class="text-center">Everything is visual!</h2>
<p style="text-align:center">Work with small-molecule structures the easy way. The Graphical User Interface allow for unprecedented ease with which to manipulate structers and build the best possible structure models without the need to know too much jargon.

{{< webp image="/images/software-screens.jpg" width="600px" class="none">}}

</p>

</div>

{{< /blocks/section >}}


{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="free.png" title="Free to Use" url="/olex2" font_color="dark" read_more="false" %}}
Olex2 is completely free to use for anyone. There is no catch here -- whether you are in industry, academia or a student, it's free!
{{% /blocks/feature %}}

{{% blocks/feature icon="open_source.png" title="Open Source" url="/olex2" font_color="dark" read_more="false" %}}
Olex2 is open source -- all our code is availabe for you to look at, check and -- hopefully! -- extend. If you would like to contribute to Olex2, please let us know.
{{% /blocks/feature %}}

{{% blocks/feature icon="extensible.png" title="Extensible" url="/olex2" font_color="dark" read_more="false" %}}
Olex2 can be extended using macros, python scripts or extension modules. Extension modules are easy to make and we have a selection of useful extensions available for paid subscription.
{{% /blocks/feature %}}

{{< /blocks/section >}}
